<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Description</h6>
      <p class="card-text"><%= item.description %></p>
      <%= link_to 'Details', item_path(item) %>
      <hr>
      <div class="card-links">
        <p class="card-link text-secondary small"><%= item.category %></p>
        <p class="card-link text-secondary small"><%= item.user.first_name %> <%= item.user.last_name %></p>
      </div>
    </div>
  </div>
</div>
