<div class="col mb-3 d-flex">
  <%= link_to item_path(item), class: "text-decoration-none w-100" do %>
    <div class="card card-link-3d h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><%= item.name %></h5>
        <p class="card-text"><%= item.description %></p>
        
        <picture class="thumbnail d-flex justify-content-center flex-grow-1">
          <% if item.photo.attached? %>
          <%= cl_image_tag item.photo.key, 
          transformation: [
            { width: 440, height: 360, crop: :fill }
          ], class: "img-thumbnail  " %>

          <% else %> 
            <img class="card-img-top" src="https://abbeyjfitzgerald.com/wp-content/uploads/2018/01/camera-1.svg" alt="">
          <% end %>
        </picture>
        
        <hr class="mt-4">
        
        <div class="card-links">
          <p class="card-link text-secondary small mb-1">
            <span class="badge bg-primary px-3 py-2"><%= item.category %></span>
          </p>
          <p class="card-link text-secondary small mb-0">
            <%= item.user.first_name %> <%= item.user.last_name %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

