<h1>New Item</h1>

<%= simple_form_for @item do |f| %>
  <div>
    <%= f.input :name %>
  </div>
  <div>
    <%= f.input :category %>
  </div>
  <div>
    <%= f.input :description %>
  </div>
  <div>
    <%= f.button :submit, 'Create Item' %>
  </div>
<% end %>
